<div class="wp-coin-hive widget-monero-miner-for-coin-hive">
    <div class="miner">
        <div class="description">

            {{text}}

            {{^text}}
                {{#translate}}You can now support me directly on this page using the power of your computer. You can turn it off anytime.{{/translate}}
            {{/text}}

        </div>
        <div class="status status-speed">
            {{#translate}}Mining with %s Hashes/s || <span class="info-speed">0</span>{{/translate}}
        </div>
        <div class="action action-start">
            {{#translate}}Start mining{{/translate}}
        </div>
        <div class="action action-stop">
            {{#translate}}Stop mining{{/translate}}
        </div>
    </div>
</div>